<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CocoaPodApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3A52760B1C7DD93200C680D8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3A52761F1C7DD93200C680D8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3A52762A1C7DD93200C680D8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
